.orange{
    background-color: #F29544;
}

.blanco-cita{
    background-color: #E9EFF2;
}

.azulcielo-cita{
    background-color: #8DC3F2;
}

.azulclaro-cita{
    background-color: #0476D9;
}

.azul-cita{
    background-color: #0460D9;
}